.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4em;
  min-height: 100vh;
  width: 100vw;
  gap: 1em;
  
  background-color: rgb(139, 95, 130);
  color: white;
}

.textoELogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
width: 900px;
margin-top: 20px;
margin-bottom: 50px;
border-radius: 4px;

}

.textual {
  margin-top: 40px;
  margin-bottom: 50px;
  width: 60%px;
  color: rgba(73, 66, 66, 0.87);
}
.textual p {
  width: 700px;
  word-wrap: break-word;
  text-align: center;
  margin-top: 25px;
  line-height: 24px;
}

.containerLogIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(139, 95, 130);
  color: aliceblue;
  height: 300px;
  width: 400px;
  gap: 0.5rem;
  margin-bottom: 40px;
  border-radius: 4px;
}
.containerLogIn button {
  height: 32px;
  border-radius: 4px;
  width: 300px;
  color: rgb(88, 66, 88);
}
.containerAcesso {
  display: flex;
  flex-direction: column;
 text-align: left;
  gap: 0.5em;
  height: 180px;
  width: 300px;
  margin-bottom: 0px;
}

.containerAcesso label {
  font-size: 0.8em;
}
.containerAcesso input {
  height: 32px;
  border-radius: 4px;
  padding-left: 8px;
}
.containerAcesso button {
  height: 32px;
  border-radius: 4px;
}
.containerAcesso p {
  color: rgb(221, 255, 68);
  font-size: 0.8rem;
}

.formlogin {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 500px;
  gap: 0.5rem;
}
.formlogin button {
  color: rgb(88, 66, 88);
  height: 32px;
}

.formlogin label {
  font-size: 0.75em;
  color: white;
}
.formlogin input {
  padding: 4px;
  height: 32px;
  padding: 8px;
  box-shadow: none;
  outline: none;
}
