*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;

}

:root {


  color-scheme: light dark;
  color: rgba(73, 66, 66, 0.87);
  background-color: #fcf9f9;


}

